---
import Header from "../components/header/Header.astro";
import "../style/index.css";
import Main from "../components/main/main.astro";
import Footer from "../components/footer/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Suvam Sinha - Web Developer - React Js, Astro, Next Js With over 1 year of experience in building engaging and functional web experiences."
    />
    <meta
      name="google-site-verification"
      content="T6zJrqEWMeH60BJKmuAR-QENQasejy5JpXJNwjZW4ys"
    />
    <meta name="msvalidate.01" content="621A6314D5E72AE516D857915C5D377B" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://ssuvamm.github.io/" />
    <meta property="og:url" content="https://suvamsinha.us.kg/" />
    <meta property="og:url" content="https://www.suvamsinha.us.kg/" />
    <meta property="og:url" content="https://www.ssuvamm.github.io/" />
    <meta property="og:site_name" content="Suvam Sinha" />
    <meta property="og:title" content="Suvam Sinha | Portfolio" />
    <meta
      property="og:description"
      content="Suvam Sinha - Web Developer - React Js, Astro, Next Js With over 1 year of experience in building engaging and functional web experiences."
    />
    <meta property="og:locale" content="en_US" />
    <meta
      name="keywords"
      content="Junior Web Developer, Front-end Developer, React, Next.js, HTML5, CSS3, JavaScript, Web Development Portfolio"
    />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/ssuvamm/ssuvamm.github.io/refs/heads/main/public/img/preview-page.webp"
    />

    <script
      src="https://kit.fontawesome.com/2898a0ac51.js"
      crossorigin="anonymous"></script>
    <title>Portfolio | Suvam Sinha</title>
  </head>
  <body>
    <Header />
    <Main />
    <Footer />
  </body>
</html>
